.card-container{
    margin:16px;
    /* max-width: 60%; */
    padding-bottom: 30px;
}
mat-card{
    padding: 20px;
}
.example-header-image{
   background-image: url("https://th.bing.com/th/id/OIP.GqGVPkLpUlSo5SmeDogUdwHaHa?rs=1&pid=ImgDetMain");
    background-size: cover;
}
mat-card-footer{
    margin-left: 20px;
}
.post-img{
   width: 400px;
   height: 200px;
    object-fit: cover;
    margin-top: 15px;
}