<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="create-post" >create-postr</button>
  <button mat-raised-button color="primary" routerLink="view-all" >view-All</button>
  <button mat-raised-button color="primary" routerLink="search-by-name" >search-by-name</button>
  
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<router-outlet></router-outlet> -->

<mat-toolbar color="primary">
  <button mat-button routerLink="/">
    <mat-icon>home</mat-icon>
  
  </button>
  <!-- Fill the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <!-- Show these buttons only on larger screens (greater than small) -->
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
    <button mat-raised-button routerLink="create-post" >create-postr</button>
    <button mat-raised-button routerLink="view-all" style="margin-left: 5px;" >view-All</button>
    <button mat-raised-button routerLink="search-by-name" style="margin-left: 5px;" >search-by-name</button>
  </div>
  <!-- Show this menu button only on smaller screens (less than small) -->
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<!-- Define the menu -->
<mat-menu x-position="before" #menu="matMenu">
 

  <button mat-menu-item  routerLink="create-post" >create-postr</button>
    <button mat-menu-item  routerLink="view-all"  >view-All</button>
    <button mat-menu-item  routerLink="search-by-name" >search-by-name</button>
  <!-- Add more menu items if needed -->
</mat-menu>



<router-outlet></router-outlet>

